# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
insert_final_newline = true
charset = utf-8
indent_size = 2
indent_style = space
max_line_length = 150
tab_width = 2

[*.yml]
indent_size = 4
tab_width = 4
insert_final_newline = false
