doctype html
html
  head
    title fetcher2

    link(href=basePath + '/style.css', rel='stylesheet', type='text/css')
    script(src=basePath + '/jquery.js')

  body
    ul.breadcrumb
      each segment in breadcrumbs
        li: a(href=segment.uri)= segment.title

    div#content
      block content

      hr
      div.row
        h2
          | raw json&nbsp;
          a(href="#" onclick="$('.json').toggle(200); return false;")= "[toggle]"
      div.json.hidden
        pre= JSON.stringify(input, null, 2)
